<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="twitch_chat_overlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <twitch_chat_overlay.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoChatChannel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChatFileLineCount" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ChatFileTimeStamps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerHost" serializeAs="String">
                <value>irc.twitch.tv</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="ChatSoundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChatSoundLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatMessageMaxTime" serializeAs="String">
                <value>10000</value>
            </setting>
        </twitch_chat_overlay.Properties.Settings>
    </userSettings>
</configuration>